{
    "global": {
        "jid": "kitty@example.org",
        "password": "secret",
        "jsmath": "/path/to/jsMath",
        "logpath": "/path/to/logs",
        "http-port": 8080,
        "xml-rpc-port": 9090,
        "database": "sqlite.db",
        "ssh-port": 10100
    },
    "mucs": [
        {
            "jid": "kit@conference.example.org/Kitty",
            "log-auth": "file:./passwd",
            "xml-rpc-id": "unique secret identifier"
        },
        {
            "jid": "protected@conference.example.org/Kitty",
            "password": "password",
            "log-auth": "file:./passwd.other"
        }
    ],
    "postponed_messages": {
        "database": "sqlite.db"
    }
}
